name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  extract_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - name: Extract Maven Version
        id: get_version
        run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> "$GITHUB_OUTPUT"

  build:
    needs: extract_version
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.extract_version.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B clean package -DskipTests

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: >
          docker build -t ghcr.io/dev-comrade/channel-ban-bot:v${{ env.VERSION }}
          -t ghcr.io/dev-comrade/channel-ban-bot:latest
          -f docker/Dockerfile .

      - name: Push Docker image
        run: |
          docker push ghcr.io/dev-comrade/channel-ban-bot:v${{ env.VERSION }}
          docker push ghcr.io/dev-comrade/channel-ban-bot:latest